@model DateTime
@{
    ViewBag.Title = "Home Page";
}

<p id="exp"></p>
<p id='time'></p>

<form method="post" action="/home/logout">
    <button>Logout</button>
</form>

<button id="do">Do something</button>
<div id="dosmth"></div>

<script>
    const apiCall = (url) => {
        return new Promise(function (resolve, reject) {
            var xhr = new XMLHttpRequest()
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    resolve(xhr.responseText)
                } else reject()
            };

            xhr.open("POST", url, true)
            xhr.send()
        })
    }

    const date = moment('@Model.ToString("O")')
    const i_exp = document.querySelector('#exp')
    const i_time = document.querySelector('#time')

    i_exp.innerText = moment(date).utc().format('MM/DD/YYYY h:mm:ss a')
    i_time.innerText = moment(date).utc().format('MM/DD/YYYY h:mm:ss a')

    document.querySelector('#do').onclick = () => console.log(window.act = true)
    window.exp = date.utc().format('MM/DD/YYYY h:mm:ss a')
    console.log(window.act = false)

    const sec = 1000
    setTimeout(function tick() {
        i_time.innerText = new moment().utc().format('MM/DD/YYYY h:mm:ss a')
        setTimeout(tick, 1 * sec)
    }, 1 * sec)

    const timeout = 5 * sec
    let id = setTimeout(function tick() {
        if (window.act) {
            console.log('extend')
            return apiCall('/home/extend')
                .then(data => JSON.parse(data))
                .then(data => i_exp.innerText = moment(data.date).utc().format('MM/DD/YYYY h:mm:ss a'))
                .then(() => console.log('extended'))
                .then(() => {
                    console.log(window.act = false)
                    id = setTimeout(tick, timeout)
                }).catch(() => { })
        } else {

            const dosmth = document.querySelector('#dosmth')
            const button = document.createElement('button')
            button.innerText = "Extend?"
            button.onclick = () => apiCall('/home/extend')
                .then(data => JSON.parse(data))
                .then(data => i_exp.innerText = moment(data.date).utc().format('MM/DD/YYYY h:mm:ss a'))
                .then(() => clearTimeout(id))
                .then(() => console.log('extended'))
                .then(() => {
                    console.log(window.act = false)
                    id = setTimeout(tick, timeout)
                })
                .then(() => dosmth.removeChild(button))
                .catch(() => { })
            dosmth.appendChild(button)

            id = setTimeout(() => {
                return apiCall('/home/logout')
               .then(() => console.log('logout'))
               .then(() => window.location.href = '/')
            }, 4 * sec)
        }
    }, timeout)

    console.log(exp)
</script>
